{% apply spaceless %}
{{ include('_page-header.html') }}
{{ include('_header.html') }}

<h1>{{ title }}</h1>
<h6>{{ date }}</h6>

<div>{{ content|raw }}</div>

{% if previous_item %}
<div><a href="{{ previous_item.url }}">Previous</a></div>
{% endif %}

{% if overview_page %}
<div><a href="{{ overview_page.url }}">Overview</a></div>
{% endif %}

{% if next_item %}
<div><a href="{{ next_item.url }}">Next</a></div>
{% endif %}

{{ include('_footer.html') }}
{{ include('_page-footer.html') }}
{% endapply %}