{% apply spaceless %}
{{ include('_page-header.html') }}
{{ include('_header.html') }}

{% for item in paginate.items %}
    <h2><a href="{{ item.url }}">{{ item.title }}</a></h2>
    <h6>{{ item.date }}</h6>
    <div>{{ item.content|raw }}</div>
{% endfor %}

{% if previous_page %}
<div><a href="{{ previous_page }}">Previous</a></div>
{% endif %}

{% if next_page_url %}
<div><a href="{{ next_page }}">Next</a></div>
{% endif %}

{{ include('_footer.html') }}
{{ include('_page-footer.html') }}
{% endapply %}